{% extends 'AppBundle::base.html.twig' %}
{% block title %}Vicnisoft | {{ data.page_title }}{% endblock %}
{% set title = data.page_title %}
{% set fluid_layout = 0 %}

{% block content %}
    <div>
        {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}
        <div class="{% if (data.error_messages is not defined and form_errors(form) is empty) %}hide{% endif %} alert alert-danger" id="edit-sku-errors">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{% trans %}Error!{% endtrans %}</strong>
			<span class="message">
				{{ data.error_messages|default('') }}
                {{ form_errors(form) }}
			</span>
        </div>
        <div class="hide alert alert-success" id="edit-sku-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{% trans %}Success!{% endtrans %}</strong>
            <span class="message"></span>
        </div>

        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <h3>{% trans %}User Info{% endtrans %}</h3>
                    {{ form_row(form.username) }}
                    {{ form_row(form.plainpassword) }}
                    {#{{ form_row(form.group) }}#}
                    {{ form_row(form.project) }}
                    {{ form_row(form.company) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.apiKey) }}
                    {#<input id="action-generate-apikey" data="{{ path(data.generate_api_key_path) }}" hidden="hidden">#}
                </div>
                <div class="col-md-6">
                    <h3>{% trans %}Contact Info{% endtrans %}</h3>
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}

                    <h3>{% trans %}User Roles{% endtrans %}</h3>
                    {{ form_row(form.userRoles) }}
                </div>
            </div>

        </fieldset>

        {{ include('AppBundle:inc:form-save-cancel-footer.html.twig', { 'form': form, 'data': data }) }}

        {{ form_end(form) }}
        <div class="row">
            <div class="col-md-6"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script language="JavaScript">

        $(document).ready(function ($) {

        });

    </script>

    {#<script src="{{ asset('bundles/app/js/add-remove-api-key.js')}}"></script>#}

{% endblock %}
