{% extends 'AppBundle::base.html.twig' %}
{% block title %}Vicnisoft | {{ data.page_title }}{% endblock %}
{% set title = data.page_title %}
{% set fluid_layout = 0 %}

{% block content %}
    <div>
        {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}
        <div class="{% if (data.error_messages is not defined and form_errors(form) is empty) %}hide{% endif %} alert alert-danger" id="edit-sku-errors">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{% trans %}Error!{% endtrans %}</strong>
			<span class="message">
				{{ data.error_messages|default('') }}
                {{ form_errors(form) }}
			</span>
        </div>
        <div class="hide alert alert-success" id="edit-sku-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{% trans %}Success!{% endtrans %}</strong>
            <span class="message"></span>
        </div>

        <fieldset>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    {{ form_row(form.name) }}
                    {{ form_row(form.video_url) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.videoCategories, { 'attr' : {'class': 'select2'}}) }}
                    {{ form_row(form.short_description) }}
                    {{ form_row(form.description) }}
                </div>
                <div class="col-md-2">
                </div>
            </div>

        </fieldset>

        {{ include('AppBundle:inc:form-save-cancel-footer.html.twig', { 'form': form, 'data': data }) }}

        {{ form_end(form) }}
        <div class="row">
            <div class="col-md-6"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script language="JavaScript">
        $(document).ready(function ($) {

        });

    </script>


{% endblock %}
