{% extends 'AppBundle::base.html.twig' %}
{% block title %}Vicnisoft | {{ data.page_title }}{% endblock %}
{% set title = data.page_title %}
{% set fluid_layout = 0 %}

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset('bundles/app/vendor/dropzone/dropzone.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-md-12">

                <div class="dropzone my-dropzone" id="form_snippet_image" action="{{path('ajax_snippet_image_send')}}">

                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/app/vendor/dropzone/dropzone.js')}}"></script>

    <script language="JavaScript">

        //je récupère l'action où sera traité l'upload en PHP
        var _actionToDropZone = $("#form_snippet_image").attr('action');

        //je définis ma zone de drop grâce à l'ID de ma div citée plus haut.
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("#form_snippet_image",
                { url: _actionToDropZone }
        );

        myDropzone.on("addedfile", function(file) {
//            alert('nouveau fichier reçu');
        });

        myDropzone.on('sending', function(data, xhr, formData){
            formData.append('fieldname', 'value');
            alert('nouveau fichier reçu');

        });
        myDropzone.on("sendingmultiple", function(data, xhr, formData) {
//            alert('nouveau fichier reçu');
//            formData.append("firstname", jQuery("#firstname").val());
//            formData.append("lastname", jQuery("#lastname").val());
        });
    </script>

{% endblock %}
