<hr/>
<div class="form_buttons pull-right">

    {#{% if not form.vars.valid  %}#}
        {#{% import "AppBundle:inc:form-errors.html.twig" as macros %}#}
        {#{{ macros.display_error(form) }}#}
    {#{% endif %}#}
    {{ form_widget(form.submit, {"attr":{"class":"btn-primary"}}) }} {{ form_widget(form.cancel) }}
</div>
<div class="clear"></div>
