<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}VNS{% if title is defined %} | {{ title }}{% endif %}{% if subtitle is defined %} &gt; {{ subtitle }}{% endif %}{% endblock %}</title>
    {% block stylesheets %}

        <link href="{{ asset('bundles/app/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/vendor/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/vendor/sb-admin-2/css/sb-admin-2.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}"/>
        {% if has_table|default(0) %}

            <!-- DataTables CSS -->
            <link href="{{ asset('bundles/app/vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css')}}" rel="stylesheet">

            <!-- DataTables Responsive CSS -->
            {#<link href="{{ asset('assets/vendor/datatables-responsive/css/dataTables.responsive.css')}}" rel="stylesheet">#}

        {% endif %}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<div id="wrapper">
    <div class="overlay hide">
    </div>

    {{ include('AppBundle:layout:navigation.html.twig') }}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">

                {% if disable_page_header|default(0) %}
                    {{ include('AppBundle:layout:flashbags.html.twig') }}
                {% else %}
                    <div class="page-header">

                        {{ include('AppBundle:layout:flashbags.html.twig') }}
                        {% if data.copy_path is defined %}
                            <div class="form-inline">
                                <div class="form-group pull-right">
                                    <a class="form-control btn btn-primary" href="{{ data.copy_path }}">Clone New</a>
                                </div>
                            </div>
                        {% endif %}

                        {% if title is defined %}
                            <h1>
                                {{ title }}
                                {% if subtitle is defined %}
                                    <small>{{ subtitle }}</small>
                                {% endif %}
                            </h1>
                        {% endif %}

                    </div>
                {% endif %}


                {% if breadcrumb is defined %}
                    <ol class="breadcrumb">
                        <li class="active">
                            {#<i class="fa fa-dashboard"></i> {{ breadcrumb }}#}
                        </li>
                    </ol>
                {% endif %}

            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">

            {% block content %}

            {% endblock %}

        </div>

        {% if app.environment != 'prod' and data is defined %}
            {#{{ dump(data) }}#}
        {% endif %}
    </div>


    {{ include('AppBundle:layout:footer.html.twig') }}

</div>

{% block javascripts %}

    <script src="{{ asset('bundles/app/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/vendor/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendor/metisMenu/dist/metisMenu.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendor/raphael/raphael.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendor/morrisjs/morris.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendor/sb-admin-2/js/sb-admin-2.js')}}"></script>

    {% if has_table|default(0) %}

    <script src="{{ asset('bundles/app/vendor/datatables/media/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')}}"></script>


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('#dataTables').DataTable({
                responsive: true
            });
        });
    </script>
    {% endif %}
{% endblock %}
</body>
</html>
