{% extends 'AppBundle::base.html.twig' %}
{% block title %}Vicnisoft | {{ data.page_title }}{% endblock %}
{% set title = data.page_title %}
{% set fluid_layout = 0 %}
{% set debug_dump = true %}
{% set disable_page_header = true %}


{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            {{ title }}
            <div class="form-inline pull-right">
                <div class="form-group">
                    <a class="form-control btn btn-default" href="{{ path(data.path.path) }}">Back</a>
                </div>
                <div class="form-group">
                    <a class="form-control btn btn-primary" target="_blank" href="{{ path(data.path.create_path) }}">Create New Dialogue</a>
                </div>
            </div>
            <br>
            <br>
        </div>
        <!-- /.panel-heading -->

        <div class="panel-body">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        Name
                    </div>
                    <div>
                        {{ data.result.Name }}
                    </div>
                </div>
                <br>
                {% for audio in data.result.AudioURL %}
                    <div class="row">
                        <div class="col-md-3">
                            AudioURL
                        </div>
                        <div>
                            {{ audio }}
                        </div>
                    </div>
                    <br>
                {% endfor %}

                <div class="row">
                    <div class="col-md-12">
                        Content
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div>
                            {{ data.result.Content | raw }}
                        </div>
                    </div>
                </div>

                {% if data.result.HTML is defined %}

                <div class="row">
                    <div class="col-md-12">
                        HTML
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div>
                            {{ data.result.HTML | raw }}
                        </div>
                    </div>
                </div>

                {% endif %}

                {% if data.result.NewDialogues is defined %}

                <div class="row">
                    <div class="col-md-12">
                        New Dialogues
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div>
                            {{ data.result.NewDialogues | join(', ') }}
                        </div>
                    </div>
                </div>

                {% endif %}


            </div>


        </div>

    </div>



{% endblock %}

