#footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

#page-wrapper {
    min-height: 400px;
    margin: 10px;
    border: 5px;
}

.navbar-vns {
    background-color: #ca1148 ;
    border-color: #9b0d37 ;
}

.navbar-vns a{
    color: #ffffff;
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active {
    text-decoration: none;
    background-color: #770a2a !important;
}

.table > thead > tr > th{
    vertical-align: middle;
}

.dataTable_wrapper {
    overflow-x: scroll; }
    th, td { min-width: 200px;
}