{# @see http://symfony.com/doc/current/components/http_foundation/sessions.html #}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}">
            <span aria-hidden="true">&times;</span></button>
        <strong>{% trans %}Error!{% endtrans %}</strong> {{ flashMessage|raw }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}">
            <span aria-hidden="true">&times;</span></button>
        <strong>{% trans %}Warning!{% endtrans %}</strong> {{ flashMessage|raw }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}">
            <span aria-hidden="true">&times;</span></button> {{ flashMessage|raw }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}">
            <span aria-hidden="true">&times;</span></button>
        <strong>{% trans %}Success!{% endtrans %}</strong> {{ flashMessage|raw }}
    </div>
{% endfor %}
