<div id="footer" class="container-fluid no-print">
    <div class="row">
        <section class="footer-body">
            <div id="footer-logo"><a href="http://www.vicnisoft.com/">Vicnisoft</a></div>

            <br/>
        </section>
    </div>
</div>
