{% extends 'AppBundle::base.html.twig' %}
{% set has_table = true %}
{% set debug_dump = true %}
{% set disable_page_header = true %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-inline">
                <div class="form-group">
                    <a class="form-control btn btn-primary" href="{{ path(data.create_path) }}">Create New</a>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <a class="form-control btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Click here to show/hide filters</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <a class="form-control btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Click here to show/hide columns</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <form id="pageform" action="{{ path(data.page_path) }}" method="post">
            {{ include('AppBundle:manage/inc:active-filters.html.twig', { 'data': data }) }}
            <div class="col-sm-12">
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ include('AppBundle:manage/inc:filters.html.twig', { 'data': data }) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ include('AppBundle:manage/inc:columns.html.twig', { 'data': data }) }}
                    </div>
                </div>
            </div>
        </form>

        <div class="panel-body">
            <div class="dataTable_wrapper">

                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                    <tr>
                        {% for key, column in data.columns %}
                        {% if column.display %}
                        <th><span>{{column.name}}</span>
                            {% endif %}
                            {% endfor %}
                        <th><span>Actions</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data.rows %}
                        <tr>
                            {% for key, column in data.columns %}
                                {% if column.display %}
                                    <td {% if column.colors is defined %} style ="background-color: {% if column.colors[row[key]] is defined %} {{column.colors[row[key]]}} {% else %} {{column.colors.none}} {% endif %} }" {% endif %}>
                                        {% if key == 'icon_url' %}
                                            <img src="{{ row[key] }}" class="img-thumbnail" alt="Thumbnail" width="100" height="100">
                                        {% else %}
                                            {% if column.raw is defined and column.raw %}
                                                {{ row[key] | raw}}
                                            {% elseif column.text is defined and column.text %}
                                                {{ column.text[row[key]] }}
                                            {% else %}
                                                {{ row[key]}}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <a {% if data.active %}title="Recycle Category"
                                        {% else %} title="Restore Category"{% endif %}
                                   data-recycleid="{{ row.id }}"
                                   data-recyclename="{% if data.columns[data.recyclename].text is defined %}
                                   {{ data.columns[data.recyclename].text[row[data.recyclename]] }}
                                   {% else %}
                                   {{ row[data.recyclename]}}
                                   {% endif %}"
                                   data-recycleinfo="Project :
                                   {% if data.columns[data.recycleinfo].text is defined %}
                                   {{ data.columns[data.recycleinfo].text[row[data.recycleinfo]] }}
                                   {% else %}
                                   {{ row[data.recycleinfo]}}
                                   {% endif %}"
                                   onclick="recycle(this);" href="#">
                                    {% if data.active %}
                                        <i class="fa fa-trash fa-2x"></i>
                                    {% else %}
                                        <i class="fa fa-refresh fa-2x"></i>
                                    {% endif %}
                                </a>
                                <a title="Edit Category" href="{{ path('editCategory', {'id': row.id }) }}">
                                    <i class="fa fa-pencil-square-o fa-2x"></i>
                                </a>
                                <a title="View Dialogues" href="{{ path('manageDialogues', {'category_id': row.id }) }}">
                                    <i class="fa fa-list fa-2x"></i>
                                </a>
                                {% if row.approval_status is defined and row.approval_status == 0 %}
                                    <a alt="Approve Category" title="Approve Category"  href="{{ path('approveCategory', {'id': row.id }) }}">
                                        <i class="fa fa-check-square-o fa-2x"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ include('AppBundle:manage/inc:recycle.html.twig',{'data' :data  })}}
            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ include("AppBundle:manage/inc:recycle-js.html.twig", {'data':data}) }}
    <script src="{{ asset('bundles/app/js/app.js')}}"></script>



{% endblock %}