{% extends 'AppBundle::base.html.twig' %}
{% set has_table = true %}
{% set debug_dump = true %}
{% set disable_page_header = true %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-inline">
                <div class="form-group">
                    <a class="form-control btn btn-primary" href="{{ path(data.create_path) }}">Create New</a>
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="dataTable_wrapper">

                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                    <tr>
                        {% for key, column in data.columns %}
                        {% if column.display %}
                        <th><span>{{column.name}}</span>
                            {% endif %}
                            {% endfor %}
                        <th><span>Actions</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data.rows %}
                        <tr>
                            {% for key, column in data.columns %}
                                {% if column.display %}
                                    <td {% if column.colors is defined %} style ="background-color: {% if column.colors[row[key]] is defined %} {{column.colors[row[key]]}} {% else %} {{column.colors.none}} {% endif %} }" {% endif %}>
                                        {{ row[key]}}
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <a {% if data.active %}title="Recycle Category"
                                        {% else %} title="Restore Category"{% endif %}
                                   data-recycleid="{{ row.id }}"
                                   data-recyclename="{% if data.columns[data.recyclename].text is defined %}
                                   {{ data.columns[data.recyclename].text[row[data.recyclename]] }}
                                   {% else %}
                                   {{ row[data.recyclename]}}
                                   {% endif %}"
                                   data-recycleinfo="Group :
                                   {% if data.columns[data.recycleinfo].text is defined %}
                                   {{ data.columns[data.recycleinfo].text[row[data.recycleinfo]] }}
                                   {% else %}
                                   {{ row[data.recycleinfo]}}
                                   {% endif %}"
                                   onclick="recycle(this);" href="#">
                                    {% if data.active %}
                                        <i class="fa fa-trash fa-2x"></i>
                                    {% else %}
                                        <i class="fa fa-refresh fa-2x"></i>
                                    {% endif %}
                                </a>
                                <a title="Edit Category" href="{{ path('editFbCategory', {'id': row.id }) }}">
                                    <i class="fa fa-pencil-square-o fa-2x"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ include('AppBundle:manage/inc:recycle.html.twig',{'data' :data  })}}
            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ include("AppBundle:manage/inc:recycle-js.html.twig", {'data':data}) }}

{% endblock %}