{% extends 'AppBundle::base.html.twig' %}
{% set has_table = true %}
{% set debug_dump = true %}
{% set disable_page_header = true %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-inline">
                <div class="form-group">
                    <a class="form-control btn btn-primary" href="{{ path(data.create_path) }}">Create New</a>
                </div>
            </div>

        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="dataTable_wrapper">

                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                    <tr>
                        {% for key, column in data.columns %}
                        {% if column.display %}
                        <th><span>{{column.name}}</span>
                            {% endif %}
                            {% endfor %}
                        <th>
                        </th>
                        <th><span>Actions</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data.rows %}
                        <tr>
                            {% for key, column in data.columns %}
                                {% if column.display %}
                                    <td {% if column.colors is defined %} style ="background-color: {% if column.colors[row[key]] is defined %} {{column.colors[row[key]]}} {% else %} {{column.colors.none}} {% endif %} }" {% endif %}>
                                        {% if key == 'video_url'  %}
                                            {% if row['type'] is defined and row['type'] != 'mp4' %}
                                                <div align="center" class="embed-responsive embed-responsive-16by9">
                                                    <object
                                                            data="{{ row[key] }}">
                                                    </object>
                                                </div>
                                            {% else %}
                                                <div align="center" class="embed-responsive embed-responsive-16by9">
                                                    <video {#autoplay loop#} class="embed-responsive-item" controls>
                                                        <source src="{{ row[key] }}">
                                                    </video>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            {% if column.text is defined and row[key] is not empty %}
                                                {{ column.text[row[key]] }}
                                            {% else %}
                                                {{ row[key]}}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <input type="checkbox" name="recycleids[]" value="{{ row.id }}">
                            </td>

                            <td>
                                <a {% if data.active %}title="Recycle Video"
                                        {% else %} title="Restore Video"{% endif %}
                                   data-recycleid="{{ row.id }}"
                                   data-recyclename="{% if data.columns[data.recyclename].text is defined %}
                                   {{ data.columns[data.recyclename].text[row[data.recyclename]] }}
                                   {% else %}
                                   {{ row[data.recyclename]}}
                                   {% endif %}"
                                   data-recycleinfo="Desc :
                                   {% if data.columns[data.recycleinfo].text is defined %}
                                   {{ data.columns[data.recycleinfo].text[row[data.recycleinfo]] }}
                                   {% else %}
                                   {{ row[data.recycleinfo]}}
                                   {% endif %}"
                                   onclick="recycle(this);" href="#">
                                    {% if data.active %}
                                        <i class="fa fa-trash fa-2x"></i>
                                    {% else %}
                                        <i class="fa fa-refresh fa-2x"></i>
                                    {% endif %}
                                </a>
                                <a title="Edit Video" href="{{ path('editFbVideo', {'id': row.id }) }}">
                                    <i class="fa fa-pencil-square-o fa-2x"></i>
                                </a>
                                {% if row.approved == 0 %}
                                    <a alt="Approve Video" title="Approve Video"  href="{{ path('fbVideoApproval', {'id': row.id }) }}">
                                        <i class="fa fa-check-square-o fa-2x"></i>
                                    </a>
                                 {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ include('AppBundle:manage/inc:recycle.html.twig',{'data' :data  })}}
            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ include("AppBundle:manage/inc:recycle-js.html.twig", {'data':data}) }}

{% endblock %}