{% extends 'AppBundle::base.html.twig' %}
{% set has_table = true %}
{% set debug_dump = true %}
{% block content %}

    {{ include('AppBundle:inc:manage-table-data.html.twig', { 'data': data }) }}

{% endblock %}