{% extends 'AppBundle::base.html.twig' %}
{% set has_table = true %}
{% set debug_dump = true %}
{% set disable_page_header = true %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-inline">
                <div class="form-group">
                    <a class="form-control btn btn-primary" href="{{ path(data.create_path) }}">Create New</a>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <a class="form-control btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Click here to show/hide filters</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <a class="form-control btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Click here to show/hide columns</a>
                    </div>
                </div>
            </div>
        </div>

        <form id="pageform" action="{{ path(data.page_path) }}" method="post">
            {{ include('AppBundle:manage/inc:active-filters.html.twig', { 'data': data }) }}
            <div class="col-sm-12">
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ include('AppBundle:manage/inc:filters.html.twig', { 'data': data }) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ include('AppBundle:manage/inc:columns.html.twig', { 'data': data }) }}
                    </div>
                </div>
            </div>
        </form>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="dataTable_wrapper">

                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                    <tr>
                        {% for key, column in data.columns %}
                        {% if column.display %}
                        <th><span>{{column.name}}</span>
                            {% endif %}
                            {% endfor %}
                        <th><span>Actions</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data.rows %}
                        <tr>
                            {% for key, column in data.columns %}
                                {% if column.display %}
                                    <td {% if column.colors is defined %} style ="background-color: {% if column.colors[row[key]] is defined %} {{column.colors[row[key]]}} {% else %} {{column.colors.none}} {% endif %} }" {% endif %}>
                                        {% if key == 'project_icon' %}
                                            <img src="{{ asset("upload/images/%s" | format(row[key])) }}"
                                                 class="img-thumbnail" alt="" width="50" height="50">
                                        {% else %}
                                            {{ row[key]}}
                                          {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <a title="Edit User" href="{{ path('editProject', {'id': row.id }) }}">
                                    <i class="fa fa-pencil-square-o fa-2x"></i>
                                </a>
                                <a title="Send Push" href="{{ path('sendPushnotificationToProject', {'id': row.id}) }}">
                                    <i class="fa fa-bell fa-2x"></i>
                                </a>
                                <a title="Upload Photos" href="{{ path('uploadPhotosProject', {'id': row.id}) }}">
                                    <i class="fa fa-bell fa-2x"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
{% endblock %}