{% extends 'AppBundle::base.html.twig' %}

{% import _self as faq_macros %}

{% block content %}

    <div class="faqs">
        <div class="web-questions">
            <h1 id="web-questions">Q&A</h1>
            <hr/>
            <div class="row">
                {{ faq_macros.faq_section(data.rows) }}
            </div>
        </div>


    </div>
{% endblock %}

{% macro faq_section(faqs) %}
    <div class="col-md-12" id="questions">
        {% for faq in faqs %}
            <div class="faq" id="{{ faq.id }}">
                <h3 class="trigger">
                    <a href="#">
                        <i class="fa fa-caret-right fa-lg"> </i>
                        {{ faq.question|raw }}
                    </a>
                </h3>
                <div class="toggle_container" style="display: none;">
                    <p>
                        {{ faq.answer|raw }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            faq();
            $('#search-bar').on('input', function () {
                var result = $('#search-bar').val();
                $('.faq').show();
                $('.faq-menu').show();
                if(result.length >1){
                    $('.faq:not(:contains('+result+'))').hide();
                    $('.faq-menu:not(:contains('+result+'))').hide();
                }
            });
            $('#ck-web-questions').on('change', function(){
                if(this.checked){
                    $('.web-questions').show();
                } else {
                    $('.web-questions').hide();

                }
            });
            $('#ck-tablet-questions').on('change', function(){
                if(this.checked){
                    $('.tablet-questions').show();
                } else{
                    $('.tablet-questions').hide();
                }
            });
        });
        jQuery.expr[':'].contains = function(a, i, m) {
            return jQuery(a).text().toUpperCase()
                            .indexOf(m[3].toUpperCase()) >= 0;
        };

        function faq(){
            $(".toggle_container").hide();
            $(".trigger a").on('click', function() {
                if (!$(this).parent('h3').hasClass('active')) {
                    $(this).parent().parent().find('.trigger').removeClass("active").next().slideUp();
                }

                if($(this).children('i').hasClass("fa-caret-right")){
                    $(this).children('i').removeClass("fa-caret-right").addClass("fa-caret-down");
                } else {
                    $(this).children('i').removeClass("fa-caret-down").addClass("fa-caret-right");
                }
                $(this).parent().toggleClass("active").next().slideToggle("normal");

                return false;
            });
        }
    </script>
{% endblock %}
