<div class="row">
    {% for key, filter in row %}
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label col-sm-4 control-label" for="{{ filter.name }}">
                    <small>{{ filter.label }}</small>
                </label>

                <div class="col-sm-8">
                    {% if filter.type == 'select' %}
                        <select id="{{ filter.name }}" class="form-control input-sm {% if filter.class %}{{ filter.class }}{% endif %} select2 {% if filter.children %}selectChild{% endif %}"
                                name="{{ filter.name }}[]"  data-default="{{ filter.defaultValue.0 }}"
                                {% if filter.optgroups %}data-optgroup="{{ filter.optgroups }}"{% endif %}
                                onChange="javascript:changeMultiple(this);{% if filter.children %}setChildSelectFilters(this, '{{filter.children}}' );{% endif %}"
                                {% if filter.defaultText %}data-placeholder="{{ filter.defaultText }}"{% endif %}>
                            {% if filter.defaultValue %}
                            <option class="hidden" value="{{ filter.defaultValue.0 }}">{{ filter.defaultText }}</option>
                            {% endif %}
                            {% set group = "" %}
                            {% for key, option in filter.selectValues %}
                            {% if option.optgroup is defined %}
                            {% if option.optgroup != group %}
                            {% if group != "" %}
                            </optgroup>
                            {% endif %}
                            <optgroup label="{{ option.optgroup }}" data-value="{{ option.optid }}">
                                {% set group = option.optgroup %}
                                {% endif %}
                                {% endif %}
                                <option value="{{ option.value }}" {% if option.value in filter.value %}selected="selected"{% endif %} {% if option.parentIds is defined %}data-parents="{{ option.parentIds }}"{% endif %}>
                                    {% if filter.replacementText %}{{ filter.replacementText[option.value] }}{% else %}{{ option.text }}{% endif %}
                                </option>
                                {% endfor %}
                                {% if option.optgroup is defined %}
                            </optgroup>
                            {% endif %}
                        </select>
                    {% elseif filter.type == 'choice' %}
                        <select id="{{ filter.name }}" class="form-control input-sm {% if filter.class %}{{ filter.class }}{% endif %} select2" name="{{ filter.name }}" >
                            {% if filter.defaultText %}
                                <option value="{{ filter.defaultValue }}">{{ filter.defaultText }}</option>
                            {% endif %}
                            {% for key, option in filter.selectValues %}
                                <option value="{{ option.value }}" {% if option.value == filter.value %}selected="selected"{% endif %}>
                                    {% if filter.replacementText %}{{ filter.replacementText[option.value] }}{% else %}{{ option.text }}{% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input type="text" id="{{ filter.name }}" class="form-control input-sm{% if filter.type == 'date' %} datepicker{% endif %}" name="{{ filter.name }}" value="{{ filter.value }}">
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
