<script type="text/javascript">
    function recycle(element) {
        $("#recyclename").text($(element).data("recyclename"));
        $("#recycleinfo").text($(element).data("recycleinfo"));
        $("#recycleid").val($(element).data("recycleid"));

        $("#recycle-warning").html($(element).data("recycle-warning"));
        $("#recycleModal").find("#save-recycle").data('type', "single");

        if ($(element).data("recycle-warning") && $(element).data("recycle-warning") != "") {
            $("#recycle-warning").show();
        } else {
            $("#recycle-warning").hide();
        }
        $("#recycleModal").modal('show');
    }
    function massRecycle(element) {
        $("#recyclename").text("{% trans %}Multiple selection{% endtrans %}")
        $("#recycleModal").find("#save-recycle").data('type', "mass").data("formid", $(element).data("formid"));
        // Clear data that might have been set by single recycle type
        $("#recycle-warning").html($(element).data("recycle-warning"));
        $("#recycleinfo").text('');
        $("#recycleid").val('');
        if ($(element).data("recycle-warning") != "") {
            $("#recycle-warning").show();
        } else {
            $("#recycle-warning").hide();
        }
        $("#recycleModal").modal('show');
    }
    function sendRecycle(element){
        if($(element).data("type") === "single"){
            $("#recycleModal").find("#recycleForm").submit();
        } else if($(element).data("type") === "mass"){
            $("#"+$(element).data("formid")).submit();
        }
    }
</script>
